<h3>Unverified listings</h3>

	<ul> <% @unverified_listings.each do |listing| %>
		<li> <%= listing.name %> </li><br/>
		<li> <%= listing.description %> </li><br/> 
		<%= form_tag('/listings/verify') do %>
			<input type="hidden" name="id" value="<%= listing.id %>">
      		<input value="Verify" type="submit" />
		<% end %>
		<br/> 
	</ul>
	<% end %>



